html, body {
	margin:0;
	padding:0;
}
body{
	text-align: center;
}
div#page {
	width: 900px;
	margin: 0 auto;
	text-align: left;
	padding-bottom: 20px;
}
div#container {
	padding: 20px;
	background:url(images/contentbg.gif) repeat-y top center;
}

div#header {
	padding-bottom: 20px;
}
div#ads {
	clear: both;
	padding: 30px 0 12px 66px;
}
div#footer {
	text-align: center;
	clear: both;
	padding-top: 12px;
}

div.content {
	display: none;
	clear: both;
}

div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}
div.slideshow-container {
	position: relative;
	clear: both;
	float: left;
	/* height: 502px; */ /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	/* width: 550px; */
	/* height: 502px; */ /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	/* width: 550px; */
	/* height: 502px; */ /* This should be set to be at least the height of the largest image in the slideshow */
	/* line-height: 502px; */ /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div.slideshow a.advance-link:hover,
div.slideshow a.advance-link:active,
div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow a.advance-link:focus {
	outline: none;
}

div.slideshow img {
	/* vertical-align: middle; */
	border: 1px solid #ccc;
}
div.caption-container {
	float: right;
	position: relative;
	margin-top: 30px;
}
span.image-caption {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	/* padding: 0 30px; */
}
div.caption {
	/* background-color: #f0f0f0; */
	padding: 12px;
	color: #111;
}
div.caption a {
	color: #000;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.download {
	margin-top: 8px;
}
div.navigation-container {
	float: left;
	position: relative;
	left: 50%;
}
div.navigation {
	float: left;
	position: relative;
	left: -50%;
}
a.pageLink {
	display: block;
	position: relative;
	float: left;
	margin: 2px;
}
ul.thumbs {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 2px;
	list-style: none;
}
a.thumb {
	padding: 2px;
	display: block;
	/* border: 1px solid #ccc; */
}
ul.thumbs li.selected a.thumb {
	background: #000;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
	position: relative;
	left: -50%;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	position: relative;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}

div.gallery-gutter {
	clear: both;
	padding-bottom: 20px;
}

#folders {
	float: left;
	position: relative;
	left: 50%;
}

#folders ul.thumbs {
    position: relative;
	left: -50%;
}

#folders ul.thumbs li {
	position: relative;
	display: block;
	float: left;
	height: 120px;
	margin: 10px 20px;
	text-align: center;
}

/* Specific Styles for TwoSpy Gallery */
body {
	background: #333 url(images/bodybg.png) repeat-x fixed top center;
	font: 11px Verdana,Arial,Helvetica,sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family:Georgia,Verdana,Arial,Helvetica,sans-serif;
	font-weight:lighter;
	margin:0;
	padding:0;
	color:#333;
}
h1{
	font-size:28px;
}
h2, h3 {
	font-size:20px;
	color:#0a294f;
	margin:8px 0;
}
h4{
	font-size:18px;
	color:#911322;
}
h5{
	font-size:16px;
	color:#af3d0a;
}
h6{
	font-size:11px;
	font-weight:bold;
	color:#333;
}
p {
	margin: 0;
	padding: 0;
}
a{
	color:#af2639;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
div#gutter {
	background:url(images/gutter.gif) no-repeat bottom center;
	height:9px;
}
* html #gutter {
	margin-top:-4px;
}
h2.album-date {
	/* color: #333;
	font-size: 1.4em; */
	margin-top: 6px;
}
p.album-description {
	margin-top: 20px;
}
ul.meta {
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 0.8em;
}
ul.meta li {
	padding: 0;
	list-style: none;
}
